body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1080px;
    width: 100vw;
    height: 100vh;    
    margin: 0px;
    padding: 0px 40px;
    box-sizing: border-box;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body > *{
    box-sizing: border-box;
    width: 100%;
}

.logo-block{
    max-width: 150px;
    padding: 40px 0px;
    align-self: center;
}

.search-block {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-block .search-icon {
    width: 20px; 
    height: 20px;
    left: 8px;
    position: absolute;
    pointer-events: none;
}

.search-block .info-icon {
    width: 20px; 
    height: 20px;
    position: absolute;
    right: 8px;
}

.search-block input {
    flex: 1; 
    padding: 10px;
    padding-left: 30px;
    font-weight: 600;
    width: 100%;
}

.search-block input::placeholder{
    color: black;
}


.fruits-block {
    display: flex;
    gap: 8px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.fruits-block .fruit {
    border: 1px solid;
    padding: 8px;
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    aspect-ratio: 1/1;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
}

.fruits-block .fruit p {
    text-align: center;
    margin: 0px;
}

.fruits-block .fruit img {
    width: 100%;
}

.detail-block {
    border: 1px solid;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-block h2{
    margin: 0px;
    font-weight: 900;
    font-size: 20px;
}

.detail-block ul{
    padding-inline-start: 20px;
    margin: 0px;
}


.amount-block {
    display: flex;
    gap: 4px;
}

.amount-block input{
    border: 1px solid;
    padding: 8px;
    width: inherit;
    font-weight: 900;
}

.amount-block button{
    background-color: white;
    border: 1px solid;
    font-weight: 900;
    padding: 4px;
    height: 100%;
    aspect-ratio: 1/1;
}