body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px auto;
    max-width: 1080px;
    padding: 0px 40px;
}

body > *{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body > *{
    width: 100%;
}

.logo{
    max-width: 150px;
    padding: 40px 0px;
    align-self: center;
}