body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px auto;
    max-width: 1080px;
    padding: 0px 40px;
}

body > *{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.logo{
    max-width: 150px;
    padding: 40px 0px;
    align-self: center;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search .search-icon {
    width: 20px; 
    height: 20px;
    left: 8px;
    position: absolute;
    pointer-events: none;
}

.search .info-icon {
    width: 20px; 
    height: 20px;
    position: absolute;
    right: 8px;
}

.search input {
    flex: 1; 
    padding: 10px;
    padding-left: 30px;
    font-weight: 600;
    width: 100%;
}

.search input::placeholder{
    color: black;
}
